body{
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
.container{
    background-color: chocolate;
    padding: 15px;
    display: flex;
    justify-content: right;
    align-items: flex-start;
}
.home1{
    margin-left: 40px;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}
.home1 a{
    text-decoration: none;
    color: #3a5a40;
}
.home1:hover{
    background-color: #fefae0;
    padding: 10px;
    border-radius: 18px;
    transition: 0.4s;
transform: scale(1.1);
}
 .home2{
    margin-left: 40px;
   padding: 10px;
   font-size: 20px;
   font-weight: bold;
   text-transform: uppercase;
 }
 .home2 a{
    text-decoration: none;
    color: #3a5a40;
}
 .home2:hover{
 background-color: #fefae0;
 padding: 10px;
 border-radius: 18px;
 transition: 0.4s;
transform: scale(1.1);

 }
 .home3{
    margin-left: 40px;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;

 }
 .home3 a{
    text-decoration: none;
    color: #3a5a40;
}
 .home3:hover{
    background-color: #fefae0;
    padding: 10px;
    border-radius: 18px;
    transition: 0.4s;
transform: scale(1.1);

 }
 .home4{
    margin-left: 40px;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;

 }
 .home4 a{
    text-decoration: none;
    color: #3a5a40;
}
 .home4:hover{
    background-color: #fefae0;
    padding: 10px;
    border-radius: 18px;
    transition: 0.4s;
transform: scale(1.1);

 }
  .icon img{
    
    float: left;
  margin-top: -100px;
    width: 80px;
    height: 60px;
     left: 0px;
    flex-direction: column;
   position: absolute; 
   padding: 30px;
 
}
.icon1{  height: 10px;
    margin-top: -60px;
    float: left;
    left: 150px;
    flex-direction: column;
   position: absolute;
  color: #dad7cd;
  line-height: 60px;
}
  
 section{
    display: flex;
    justify-content: space-evenly;
    
 } 
.book{
    color:#3a5a40 ;
    font-size: 20px;
}
.containerbutton1 .button1{
    background-color:#fefae0;
}
.containerbutton1 .button1 a{
color: #3a5a40;
}
.containerbutton1 .button2{
    background-color:chocolate;

} 
.containerbutton1 .button2 a{
    color: #dad7cd;
}
.containerbutton1 .button3{
    background-color:#fefae0;
}
.containerbutton1 .button3 a{
    color: #3a5a40;
}
.containerbutton2 .button4{
    background-color:chocolate;
}
.containerbutton2 .button4 a{
    color: #dad7cd;
}
.containerbutton2 .button5{
    background-color:#fefae0;
}
.containerbutton2 .button5 a{
    color: #3a5a40;
}
.containerbutton2 .button6{
    background-color:chocolate;
}
.containerbutton2 .button6 a{
    color: #dad7cd;
}
.containerbutton1{
    position: absolute;
top: 70%;
left: 20%;
transform: translate(-38%,-38%);
display: flex;
}
.containerbutton1 button{
    list-style: none;
    margin: 0 25px;
    display: flex;
}
.containerbutton1 button a{
font-size: 20px;
padding-right: 14px
}
.containerbutton1 button a span{
letter-spacing: 2px;
}
.containerbutton1 button a{
display: flex;
align-items: center;
text-decoration: none;
line-height: 20px;
padding-left: 20px;
position: relative;
}
.containerbutton2{
    position: absolute;
top: 80%;
left: 20%;
transform: translate(-38%,-38%);
display: flex;
}
.containerbutton2 button{
    list-style: none;
    margin: 0 25px;
    display: flex;
}
.containerbutton2 button a{
font-size: 20px;
padding-right: 14px

}
.containerbutton2 button a span{
letter-spacing: 2px;
}
.containerbutton2 button a{
display: flex;
align-items: center;
text-decoration: none;
line-height: 20px;
padding-left: 20px;
position: relative;
}
.imgb img{
right: 0%;
top: 0%;
margin-right: -70px;
border-radius: 10px;
border-style: ridge;
box-shadow: chocolate 4px 3px 4px;
}
.book1{
    background-color: chocolate;
   height: 50px;
text-align: center;
color:#dad7cd ;
line-height: 60px;
}

.container1{
    display: flex;
    justify-content: space-evenly;
}

.hy1{
    background-color: #fefae0;
    width: 25%;
    height: 430px;
    padding: 12px;
    margin: 10px;
    color: #3a5a40;
}

.hy1 img{
    width: 100%;
}
.hy1:hover{
    padding: 8px;
transition: 0.4s;
transform: scale(1.1);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.hy2{
    background-color:#fefae0 ;
    width: 25%;
    height: 430px;
    padding: 12px;
    margin: 10px;
    color: coral;
}
.hy2 img{
    width: 100%;
}
.hy2:hover{
    padding: 8px;
transition: 0.4s;
transform: scale(1.1);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.hy3{
    background-color:#fefae0;
    width: 25%;
    height: 430px;
    padding: 12px;
    margin: 10px;
    color: #3a5a40;
}
.hy3 img{
    width: 100%;
}
.hy3:hover{
    padding: 8px;
transition: 0.4s;
transform: scale(1.1);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.book1{
    background-color: chocolate;
   height: 50px;
text-align: center;
color:#dad7cd ;
}

.container11{
    display: flex;
    justify-content: space-evenly;
}
.hy4{
    background-color:#fefae0 ;
    width: 25%;
    height: 430px;
    padding: 12px;
    margin: 10px;
    color: coral;
}
.hy4 img{
    width: 100%;
}
.hy4:hover{
    padding: 8px;
transition: 0.4s;
transform: scale(1.1);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.hy5{
    background-color: #fefae0;
    width: 25%;
    height: 430px;
    padding: 12px;
    margin: 10px;
    color: #3a5a40;
}
.hy5 img{
    width: 100%;
}
.hy5:hover{
    padding: 8px;
transition: 0.4s;
transform: scale(1.1);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
footer{
    text-align: center;
    padding: 5px;
} 
.b66{
    background-color:coral;
    color: #3a5a40;
    border: none;
    padding: 10px;
    border-radius: 8px;
}
.b66:hover{
    padding: 8px;
    transition: 0.2s;
    transform: scale(1.1);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    
    }
.book2{
    background-color: chocolate;
   height: 50px;
text-align: center;
color:#dad7cd ;
line-height: 60px;
}
.container2{
    display: flex;
    justify-content: space-evenly;
}

.hy6{
    background-color: #fefae0;
    width: 25%;
    height: 430px;
    padding: 12px;
    margin: 10px;
    color: #3a5a40;
}

.hy6 img{
    width: 100%;
}
.hy6:hover{
    padding: 8px;
transition: 0.4s;
transform: scale(1.1);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.hy7{
    background-color:#fefae0 ;
    width: 25%;
    height: 430px;
    padding: 12px;
    margin: 10px;
    color: coral;
}
.hy7 img{
    width: 100%;
}
.hy7:hover{
    padding: 8px;
transition: 0.4s;
transform: scale(1.1);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.hy8{
    background-color:#fefae0;
    width: 25%;
    height: 430px;
    padding: 12px;
    margin: 10px;
    color: #3a5a40;
}
.hy8 img{
    width: 100%;
}
.hy8:hover{
    padding: 8px;
transition: 0.4s;
transform: scale(1.1);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.container22{
    display: flex;
    justify-content: space-evenly;
}
.hy9{
    background-color:#fefae0 ;
    width: 25%;
    height: 410px;
    padding: 12px;
    margin: 10px;
    color: coral;
}
.hy9 img{
    width: 100%;
}
.hy9:hover{
    padding: 8px;
transition: 0.4s;
transform: scale(1.1);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.hy10{
    background-color: #fefae0;
    width: 25%;
    height: 400px;
    padding: 12px;
    margin: 10px;
    color: #3a5a40;
}
.hy10 img{
    width: 100%;
}
.hy10:hover{
    padding: 8px;
transition: 0.4s;
transform: scale(1.1);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
button{
    background-color:coral;
    color: #3a5a40;
    border: none;
    padding: 10px;
    border-radius: 8px;
}
button:hover{
    padding: 8px;
    transition: 0.2s;
    transform: scale(1.1);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    }
    .book3{
        background-color: chocolate;
       height: 50px;
    text-align: center;
    color:#dad7cd ;
    line-height: 60px;
    }
    .container3{
        display: flex;
        justify-content: space-evenly;
    }
    .hy11{
        background-color: #fefae0;
        width: 25%;
        height: 430px;
        padding: 12px;
        margin: 10px;
        color: #3a5a40;
    }
    
    .hy11 img{
        width: 100%;
    }

    .hy11:hover{
        padding: 8px;
    transition: 0.4s;
    transform: scale(1.1);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    }

    .hy12{
        background-color: #fefae0;
        width: 25%;
        height: 430px;
        padding: 12px;
        margin: 10px;
        color: coral;
    }
    
    .hy12 img{
        width: 100%;
    }
    .hy12:hover{
        padding: 8px;
    transition: 0.4s;
    transform: scale(1.1);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    }
    .hy13{
        background-color:#fefae0 ;
        width: 25%;
        height: 430px;
        padding: 12px;
        margin: 10px;
        color: #3a5a40;
    }
    .hy13 img{
        width: 100%;
    }
    .hy13:hover{
        padding: 8px;
    transition: 0.4s;
    transform: scale(1.1);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    }
    .hy14{
        background-color:#fefae0;
        width: 25%;
        height: 435px;
        padding: 12px;
        margin: 10px;
        color: #3a5a40;
    }
    .hy14 img{
        width: 100%;
    }
    .hy14:hover{
        padding: 8px;
    transition: 0.4s;
    transform: scale(1.1);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    }
    .container33{
        display: flex;
        justify-content: space-evenly;
    }
    .hy15{
        background-color:#fefae0 ;
        width: 25%;
        height: 420px;
        padding: 12px;
        margin: 10px;
        color: coral;
    }
    .hy15 img{
        width: 100%;
    }
    .hy15:hover{
        padding: 8px;
    transition: 0.4s;
    transform: scale(1.1);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    }
    .hy16{
        background-color: #fefae0;
        width: 25%;
        height: 420px;
        padding: 12px;
        margin: 10px;
        color: #3a5a40;
    }
    .hy16 img{
        width: 100%;
    }
    .hy16:hover{
        padding: 8px;
    transition: 0.4s;
    transform: scale(1.1);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    }
    .book4{
        background-color: chocolate;
       height: 50px;
    text-align: center;
    color:#dad7cd ;
    line-height: 60px;
    }
    .container4{
        display: flex;
        justify-content: space-evenly;
    }
    
    .hy17{
        background-color: #fefae0;
        width: 25%;
        height: 430px;
        padding: 12px;
        margin: 10px;
        color: #3a5a40;
    }
    
    .hy17 img{
        width: 100%;
    }
    .hy17:hover{
        padding: 8px;
    transition: 0.4s;
    transform: scale(1.1);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    }
    .hy18{
        background-color:#fefae0 ;
        width: 25%;
        height: 430px;
        padding: 12px;
        margin: 10px;
        color: coral;
    }
    .hy18 img{
        width: 100%;
    }
    .hy18:hover{
        padding: 8px;
    transition: 0.4s;
    transform: scale(1.1);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    }
    .hy19{
        background-color:#fefae0;
        width: 25%;
        height: 430px;
        padding: 12px;
        margin: 10px;
        color: #3a5a40;
    }
    .hy19 img{
        width: 100%;
    }
    .hy19:hover{
        padding: 8px;
    transition: 0.4s;
    transform: scale(1.1);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    }
    .container44{
        display: flex;
        justify-content: space-evenly;
    }
    .hy20{
        background-color:#fefae0 ;
        width: 25%;
        height: 390px;
        padding: 12px;
        margin: 10px;
        color: coral;
    }
    .hy20 img{
        width: 100%;
    }
    .hy20:hover{
        padding: 8px;
    transition: 0.4s;
    transform: scale(1.1);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    }
    .hy21{
        background-color: #fefae0;
        width: 25%;
        height: 390px;
        padding: 12px;
        margin: 10px;
        color: #3a5a40;
    }
    .hy21 img{
        width: 100%;
    }
    .hy21:hover{
        padding: 8px;
    transition: 0.4s;
    transform: scale(1.1);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    }
    .hy22{
        background-color: #fefae0;
        width: 25%;
        height: 390px;
        padding: 12px;
        margin: 10px;
        color: coral;
    }
    .hy22 img{
        width: 100%;
    }
    .hy22:hover{
        padding: 8px;
    transition: 0.4s;
    transform: scale(1.1);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    }
    .book5{
        background-color: chocolate;
       height: 50px;
    text-align: center;
    color:#dad7cd ;
    line-height: 60px;
    }
    .container5{
        display: flex;
        justify-content: space-evenly;
    }
    
    .hy23{
        background-color: #fefae0;
        width: 25%;
        height: 430px;
        padding: 12px;
        margin: 10px;
        color: #3a5a40;
    }
    
    .hy23 img{
        width: 100%;
    }
    .hy23:hover{
        padding: 8px;
    transition: 0.4s;
    transform: scale(1.1);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    }
    .hy24{
        background-color:#fefae0 ;
        width: 25%;
        height: 430px;
        padding: 12px;
        margin: 10px;
        color: coral;
    }
    .hy24 img{
        width: 100%;
    }
    .hy24:hover{
        padding: 8px;
    transition: 0.4s;
    transform: scale(1.1);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    }
    .hy25{
        background-color:#fefae0;
        width: 25%;
        height: 430px;
        padding: 12px;
        margin: 10px;
        color: #3a5a40;
    }
    .hy25 img{
        width: 100%;
    }
    .hy25:hover{
        padding: 8px;
    transition: 0.4s;
    transform: scale(1.1);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    }
    .container55{
        display: flex;
        justify-content: space-evenly;
    }
    .hy26{
        background-color:#fefae0 ;
        width: 25%;
        height: 420px;
        padding: 12px;
        margin: 10px;
        color: coral;
    }
    .hy26 img{
        width: 100%;
    }
    .hy26:hover{
        padding: 8px;
    transition: 0.4s;
    transform: scale(1.1);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    }
    .hy27{
        background-color: #fefae0;
        width: 25%;
        height: 415px;
        padding: 12px;
        margin: 10px;
        color: #3a5a40;
    }
    .hy27 img{
        width: 100%;
    }
    .hy27:hover{
        padding: 8px;
    transition: 0.4s;
    transform: scale(1.1);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    }
    .hy28{
        background-color: #fefae0;
        width: 25%;
        height: 415px;
        padding: 12px;
        margin: 10px;
        color: coral;
    }
    .hy28 img{
        width: 100%;
    }
    .hy28:hover{
        padding: 8px;
    transition: 0.4s;
    transform: scale(1.1);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    }
    .book6{
        background-color: chocolate;
       height: 50px;
    text-align: center;
    color:#dad7cd ;
    line-height: 60px;
    }
    .container6{
        display: flex;
        justify-content: space-evenly;
    }
    
    .hy29{
        background-color: #fefae0;
        width: 25%;
        height: 430px;
        padding: 12px;
        margin: 10px;
        color: #3a5a40;
    }
    
    .hy29 img{
        width: 100%;
    }
    .hy29:hover{
        padding: 8px;
    transition: 0.4s;
    transform: scale(1.1);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    }
    .hy30{
        background-color:#fefae0 ;
        width: 25%;
        height: 430px;
        padding: 12px;
        margin: 10px;
        color: coral;
    }
    .hy30 img{
        width: 100%;
    }
    .hy30:hover{
        padding: 8px;
    transition: 0.4s;
    transform: scale(1.1);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    }
    .hy31{
        background-color:#fefae0;
        width: 25%;
        height: 430px;
        padding: 12px;
        margin: 10px;
        color: #3a5a40;
    }
    .hy31 img{
        width: 100%;
    }
    .hy31:hover{
        padding: 8px;
    transition: 0.4s;
    transform: scale(1.1);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    }
    .container66{
        display: flex;
        justify-content: space-evenly;
    }
    .hy32{
        background-color:#fefae0 ;
        width: 25%;
        height: 410px;
        padding: 12px;
        margin: 10px;
        color: #3a5a40;
    }
    .hy32 img{
        width: 100%;
    }
    .hy32:hover{
        padding: 8px;
    transition: 0.4s;
    transform: scale(1.1);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    }
    .hy33{
        background-color: #fefae0;
        width: 25%;
        height: 405px;
        padding: 12px;
        margin: 10px;
        color: coral;
    }
    .hy33 img{
        width: 100%;
    }
    .hy33:hover{
        padding: 8px;
    transition: 0.4s;
    transform: scale(1.1);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    }
    .container7{
        background-color: chocolate;
        padding: 25px;
        color: #3a5a40;
        font-size: 20px;
    font-weight: bold;
    }
  